.cartHeader{
text-align: center;
}
.cartDetail{
    border: 2px solid;
    border-radius: 9px;
    display: grid!important;
    grid-template-columns: 450px 300px auto!important;
    width: 1200px;
    height: 250px;
    margin-left: 125px;
    margin-top: 5px;
}
.imgCartDetail{
    margin-top: 8px;
    margin-left: 100px;
    width: 150px;
    height: 200px; 
}
.cartData{
    margin-top: 50px;
    margin-left: 2px;
}
.cartPrice{
    margin-top: 20px;
}
.cartPrice:hover{
    color: blueviolet;
}
.cartTipe:hover{
    color: blueviolet;
}
.cartModel:hover{
    color: blueviolet;
}
.deleteBtn{
    margin-top: 20px;
    margin-left: 300px;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border-color: white;
}