.btnCheckOut{
    margin-top: 10px;
    margin-left: 200px;
    border-radius: 8px;
    border-width: 0;
    font-size: 30px;
    width: 250px;
    background-color: #78f586;
    color: white!important;
}